label.checkbox input[type="checkbox"] {display:none;}
label.checkbox span {
  display:inline-block;
  border:1px solid #BBB;
  border-radius:1px;
  width:10px;
  height:15px;
  background:#FFF;
  vertical-align:middle;
  margin:1px;
  transition:width 0.1s, height 0.1s, margin 0.1s;
}
label.checkbox :checked + span {
  background:#6F6;
}

#lv_table div, #lv_table label{
    padding: 0;
    margin: 0;
    height: 15px;
    width: 20px;
}

#lv_table tr{
    padding: 0;
    margin: 0;
    
}

